/* link */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #e83e8c;
    text-decoration: underline;
}

.link-icon {
    font-size: 1rem;
}

.link-icon-sm {
    font-size: .75rem;
}

.link-icon-lg {
    font-size: 1.25rem;
}

.link-icon-xl {
    font-size: 2rem;
}

a.link-icon:hover {
    text-decoration: none;
}

/* button */
.btn-icon {
    margin-bottom: 5px;
}

.btn-text {
    display: none !important;
}

/* text color */
.text-pink {
    color: #e83e8c !important;
}

/* background color */
.bg-lightpink {
    background-color: #fff8fb !important;
}

/* shadow */
.shadow-lightpink {
    box-shadow: 0px 0px 1.25rem #ffe1ef;
}

/* toggle btn */
#sidebarToggleTop {
    transition: all .25s ease-in-out;
}

#sidebarToggleTop i {
    color: #e83e8c;
}

#sidebarToggleTop:hover {
    background-color: #e83e8d27 !important;
}

#sidebarToggleTop:focus,
#sidebarToggleTop:active {
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
}

/* sidebar */
.sidebar.toggled .sidebar-brand .sidebar-brand-toggled {
    display: contents;
}

.sidebar-light .nav-item.active {
    background-color: #e83e8d27;
}

.sidebar-light .nav-item.active .nav-link {
    color: #333333 !important;
}

.sidebar-light .nav-item.active .nav-link i {
    color: #e83e8c !important;
}

/* form */
.form-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -8px;
}

.image-upload {
    width: 350px;
    padding: 8px;
}

.img-preview {
    height: 350px;
    background-color: white;
    border-radius: .35rem;
    border: 1px solid lightgray;
    overflow: hidden;
}

.preview {
    height: 350px;
    width: 350px;
    object-fit: cover;
}

.form-main {
    flex: 2;
    padding: 8px;
}

.custom-file-label {
    padding-right: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* pagpination */
.paginate_button.page-item a {
    color: #e83e8c;
}

.paginate_button.page-item.active a {
    background-color: #e83e8c !important;
    border-color: #e83e8c !important;
}

/* responsive */
@media only screen and (min-width: 576px) {
    .btn-icon {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar .sidebar-brand .sidebar-brand-toggled {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .btn-text {
        display: inline-block !important;
    }
}

@media only screen and (min-width: 1200px) {
    
}