.width-fit-content {
    width: fit-content !important;
}

.btn-icon {
    margin-bottom: 5px;
}

.btn-text {
    display: none !important;
}

/* text color */
.text-pink {
    color: #e83e8c !important;
}

/* background color */
.bg-lightpink {
    background-color: #fff8fb !important;
}

/* shadow */
.shadow-lightpink {
    box-shadow: 0px 0px 1.25rem #ffe1ef;
}

/* toggle btn */
#sidebarToggleTop {
    transition: all .25s ease-in-out;
}

#sidebarToggleTop i {
    color: #e83e8c;
}

#sidebarToggleTop:hover {
    background-color: #e83e8d27 !important;
}

#sidebarToggleTop:focus,
#sidebarToggleTop:active {
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: 0px 0px 0px 0px transparent !important;
}

/* sidebar */

.sidebar.toggled .sidebar-brand .sidebar-brand-toggled {
    display: contents;
}

.sidebar-light .nav-item.active {
    background-color: #e83e8d27;
}

.sidebar-light .nav-item.active .nav-link {
    color: #333333 !important;
}

.sidebar-light .nav-item.active .nav-link i {
    color: #e83e8c !important;
}

/* pagpination */
.paginate_button.page-item a {
    color: #e83e8c;
}

.paginate_button.page-item.active a {
    background-color: #e83e8c !important;
    border-color: #e83e8c !important;
}

/* responsive */
@media only screen and (min-width: 576px) {
    .btn-icon {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar .sidebar-brand .sidebar-brand-toggled {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .btn-text {
        display: inline-block !important;
    }
}

@media only screen and (min-width: 1200px) {
    
}